<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.net>
		<connectionManagement>
			<clear />
			<add address="*" maxconnection="1024" />
		</connectionManagement>
	</system.net>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Windows" />
		<customErrors mode="Off" defaultRedirect="~/static/Error.html" />
		<httpRuntime requestValidationMode="2.0" relaxedUrlToFileSystemMapping="true" />
		<sessionState mode="Off" />
	</system.web>

	<system.webServer>
		<!--<modules runAllManagedModulesForAllRequests="true" />-->
		<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
			<remove statusCode="401" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
		</httpErrors>
		<handlers>
			<add name="StaticFileHandler-Static" path="static/*" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	
</configuration>